venv/
__pycache__/
*.pyc
.env
astric.db
recordings/*
!recordings/.gitkeep
uploads/*
!uploads/.gitkeep
.env.local
astric.db
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
test.py
readme.md
venv/
.env
.env.local